<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="5">
    <title>Intellipod</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<style>
    code {
        color: black
    }
</style>

<body>
    <section class="section">
        <div class="container">
            <h2 class="title">Health Checks</h2>
            <div id="topping_suggestion_health" class="health-check tile is-ancestor">
                {% for health_check in health_checks %}
                <div class="tile is-4">
                    <div class="tile is-child box">
                        <p class="title">{{ health_check.label }}</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>attribute</th>
                                    <th>value</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Endpoint</td>
                                <td>{{ health_check.endpoint }}</td>
                            </tr>
                            <tr>
                                <td>Healthy?</td>
                                <td class="{{ health_check.css_class }}">
                                    {{ health_check.healthy }}</td>
                            </tr>
                            <tr>
                                <td>HTTP status</td>
                                <td class="{{ health_check.css_class }}">
                                    {{ health_check.status_code }}</td>
                            </tr>
                        </table>
                        </code>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="title">Pod information</h2>
            <div id="environment" class="tile is-ancestor">
                <div class="tile is-4">
                    <div class="tile is-child box">
                        <p class="title">Pod Basics</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>env var</th>
                                    <th>value</th>
                                </tr>
                            </thead>
                            <tr>
                                <td><code>Hostname<code></td>
                            <td><code>{{ hostname }}</code></td>
                            </tr>
                        </table>
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>